*{
    margin: 0;
    padding: 0; 
    font-family: 'Raleway', sans-serif;;  
}
.logo{
    width: 100px;
    border-radius: 50%;
    box-shadow: 10px 5px 5px black;
    
}
.fondo{
    min-height: 280vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.762);
    background-position: center;
    background-size: cover;
    position: relative;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(128, 0, 128);
    box-shadow: 1px 10px 5px rgba(0, 0, 0, 0.721);
}
.menu{
    flex: 1;
    text-align: right;
    
}
.menu ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
    position: relative;
}
.menu ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.menu ul li ::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: aliceblue;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.menu ul li :hover::after{
    width: 100%;
}
body h1{
    color: aliceblue;
    text-align: center;
    width: 100%;    
    font-style: italic;
    font-size: 62px;
    padding: 20px;
}
.galeria-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 600px;
    padding-left: 50px;
    padding-right: 50px;
    grid-gap: 20px;
}

.galeria__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.galeria__item:nth-child(6){
    grid-column-start: span 2;
}
.galeria__item:nth-child(12){
    grid-column-start: span 2;
}
.galeria__item:nth-child(15){
    grid-column-start: span 2;
}
.galeria__item:nth-child(10){
    grid-row-start: span 2;
}
.galeria__item:nth-child(16){
    grid-row-start: span 2;
}
.galeria__item:nth-child(4){
    grid-row-start: span 2;
}
footer{
    background-color: rgba(128, 0, 128);

}
footer h5{
    color: aliceblue;
    text-align: center;
    font-size: 10px;
}

