*{
    margin: 0;
    padding: 0; 
    font-family: 'Raleway', sans-serif;;  
}

.logo{
    width: 100px;
    border-radius: 50%;
    box-shadow: 10px 5px 5px black;
    
}
.fondo{
    min-height: 1200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.762);
    background-position: center;
    background-size: cover;
    position: relative;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(128, 0, 128);
    box-shadow: 1px 10px 5px rgba(0, 0, 0, 0.721);
}
.menu{
    flex: 1;
    text-align: right;
    
}
.menu ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
    position: relative;
}
.menu ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.menu ul li ::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: aliceblue;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.menu ul li :hover::after{
    width: 100%;
}
.pdf iframe{
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 800px;
}
.pdf h1{
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-size: 62px;
    font-style: italic;
}
footer{
    background-color: rgba(128, 0, 128);

}
footer h5{
    color: aliceblue;
    text-align: center;
    font-size: 10px;
}
